body {
    display: flex;
}
img {
    max-width: 30vw;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .image-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    width: 50%;
  }